[Unit]
Description=Column
After=network.target

[Service]
Type=simple

Environment=USER=column
Environment=ANSIBLE_LOG_PATH=/var/log/column/ansible.log
Environment=ANSIBLE_CONFIG=/etc/ansible/ansible.cfg

ExecStart=/bin/sh -ec "/sbin/start-stop-daemon --start --make-pidfile --pidfile /var/run/column.pid --chuid column --exec /usr/bin/uwsgi /etc/column/uwsgi.ini >> /var/log/column/column.log 2>&1"
ExecStop=/bin/kill -TERM $MAINPID

[Install]
Alias=column
WantedBy=multi-user.target
