Source: python-column
Section: python
Priority: optional
Maintainer: Eric Brown <ericwb>
Build-Depends: debhelper (>= 9),
               dh-python,
               dh-systemd,
               python-setuptools
Standards-Version: 3.9.6
X-Python3-Version: >= 3.4

Package: python-column
Architecture: all
Section: python
Depends: python-six,
         python-jsonschema,
         python-flask,
         python-flask-restful,
         ansible (>= 2.2.0),
         ${misc:Depends},
         ${python:Depends}
Description: A stable API for Ansible
