#!/usr/bin/make -f

PYTHONS:=$(shell pyversions -vr)

%:
	dh $@ --with=python2,systemd --buildsystem=pybuild

override_dh_auto_install:
	set -e ; for pyvers in $(PYTHONS); do \
		python$$pyvers setup.py install --install-layout=deb \
			--root $(CURDIR)/debian/python-column; \
	done

override_dh_install:
	dh_install --fail-missing

override_dh_systemd_enable:
	dh_systemd_enable -ppython-column --name column column.service

override_dh_installinit:
	dh_installinit -ppython-column --name column

override_dh_systemd_start:
	dh_systemd_start -ppython-column --name column

override_dh_auto_test:
	echo 'skip tests'
